Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config/
configure
m4/
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/fi.gmo
po/stamp-it
src/Makefile
src/Makefile.in
src/metadata.json
